@import url('https://fonts.googleapis.com/css2? family= Arvo:ital,wght@1,700 & display=swap');
$colorPrincipal: rgb(187, 128, 2);
$medidaMargin: 20px;
@import "body";
header{
    color: $colorPrincipal;}

    @media screen and (min-width: 992px){
        ul li{
        a{
            background-color: $colorPrincipal;
            &:hover{
                background-color: white ;
            } 
        }
    }
}
.sectionIndex,.sectionMenu{
        margin: $medidaMargin;}

.sectionNosotros,.sectionNT{
   @extend .sectionIndex;}

a:visited {color:white;}
a:hover{text-decoration:underline} 

@media (min-width: 900px){
    .sectionIndex{
        margin: $medidaMargin / 2;
    }
}

@mixin subrayado($color, $style){
    text-decoration: underline;
    text-decoration-color: $color;
    text-decoration-style: $style;
    text-align: center
}
.p1{
    @include subrayado(black,double);
    font: size 20vw;
}
.p2{
    @include subrayado(black,solid);
    font: size 20vw;
}
.row>*{
    padding-right: 0px;
  }
  .row{
    margin-right: 0px;
  }
footer{
    display: flex;
    justify-content: center;
    background-color: black;
}