@import url('https://fonts.googleapis.com/css2? family= Arvo:ital,wght@1,700 & display=swap');
$colorPrincipal: orange;
$medidaMargin: 20px;
@import "body";

header{
    color: $colorPrincipal;}

    ul li{
        a{
            background-color: $colorPrincipal;
            &:hover{
                background-color: white ;
            } 
        }
    }
footer{
    color: $colorPrincipal;
    display: flex;
    justify-content: center;}
    
.sectionIndex{
        margin: $medidaMargin;}

.sectionNosotros{
    margin: $medidaMargin;}
.sectionNT{
    margin: $medidaMargin;}
a:visited {color: blueviolet;}
a:hover{text-decoration:underline} 

@media (min-width: 900px){
    .sectionIndex{
        margin: $medidaMargin / 2;
    }
    .sectionNosotros{
        margin: $medidaMargin / 2;
    }
    .sectionNT{
        margin: $medidaMargin / 2;
    }
}
div{
     display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
$redes: (whatsapp: green, facebook: Blue, instagram: Blueviolet);
@each $red, $color in $redes{
    .#{$red}{
        background-color: $color;
    }
}